header{
    background: #00e0f004;
    font-family: sans-serif;
    font-size: 1.8em;
    color: #00e0f0;
    border: 1px solid #00e0f0;
    text-align: center;
    padding: 30px;
}

h1{
    background: #22222259;
}
