main{
    background: #33333333;
    text-align: center;
    color: #00e0f0;
    padding: 5px;
}

h2, h3, .container{
    background: #33333333;
    border: 1px solid #00e0f0;
    border-radius: 5px;
    width: 40%;
    margin: auto;
}

h2, h3{
    margin-top: 20px;
    margin-bottom: 20px;
}

table, tr, td, th{
    background: #33333333;
    border: 1px solid #00e0f0;
    margin: auto;
    width: 40%;
}

input, label, .item{
    background: #00e0f000;
    color: #00e0f0;
    margin: 2px;
    padding: 2px;
}

.container2, .item2, .container3, .item3, tbody{
    background: #00e0f000;
}

img{
    margin-top: 20px;
    border: 1px solid #00e0f0;
    width: 40%;
    height: auto;
}

img:hover{
    -webkit-transform: scale(1.1);
    transform: (1.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}